@import './normalize.scss';
body {
  height: 100%;
}
#app {
  height: 100%;
}
// 文本居中
.text-center {
  text-align: center;
}
// 百分比宽度
.w-90 {
  width: 90%;
}
// marin式居中
.mar-center {
  display: block;
  margin: 0px auto;
}

// flex交叉轴居中，主轴space-between
.flex-space-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// box-shadow
@mixin boxshadow($x, $y) {
  box-shadow: $x $y 5px rgba(0, 0, 0, 0.12);
}
