.home-container {
  height: 100%;
  .el-header {
    @include boxshadow(0px, 3px);
  }
  .el-container {
    height: 100%;
    .el-aside {
      margin: 10px 0 0 0;
      @include boxshadow(3px, -3px);
      .el-menu {
        height: calc(100% - 24px);
      }
      .toggle-button {
        background-color: #eee;
        font-size: 10px;
        line-height: 24px;
        color: #fff;
        text-align: center;
        letter-spacing: 0.3em;
        cursor: pointer;
      }
    }
    .el-main {
      margin: 10px 0 0 10px;
      @include boxshadow(-3px, -3px);
    }
  }
}
